
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

banner {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 3.6vw;
  font-family: 'Roboto', sans-serif;
 
}

.nimg{
  width: auto;
  max-width: 1000px;
  height: auto;
  max-height: 70px;
}

form {
  font-size: 150%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  color: #ffffff;
  background-color: #60B3FB;

}

input {
  height: auto;
  min-height: 85%;
  width: 60%;
}

.press {
  border: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  text-align: center;
  background: #A3FFA6;
  width: 10%;
  height: 40px;
}

.delete{
  background: #FF7676;
}


.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  margin: 1rem 0;
  border: 1px solid #B6B6B6;   

}

.spbox {
  display: flex;
  justify-content: center;
  width: 8%;
}

.spform {
  width: 44%;
}
